{% load i18n %}
{% load memberaudit %}

<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">

    <li class="nav-item" role="presentation">
        <button class="nav-link" data-bs-target="#assets" aria-controls="assets" role="tab" data-bs-toggle="tab">
            {% translate 'Assets' %}{% tab_status_indicator UpdateSection.ASSETS %}
        </button>
    </li>

    <li class="nav-item" role="presentation">
        <button class="nav-link" data-bs-target="#bio" aria-controls="bio" role="tab" data-bs-toggle="tab">
            {% translate 'Bio' %}{% tab_status_indicator UpdateSection.CHARACTER_DETAILS %}
        </button>
    </li>

    <li class="nav-item" role="presentation">
        <button class="nav-link" data-bs-target="#contracts" aria-controls="contracts" role="tab" data-bs-toggle="tab">
            {% translate 'Contracts' %}{% tab_status_indicator UpdateSection.CONTRACTS %}
        </button>
    </li>

    <li class="nav-item" role="presentation">
        <button class="nav-link" data-bs-target="#history" aria-controls="history" role="tab" data-bs-toggle="tab">
            {% translate 'Corporations' %}
            {% tab_status_indicator UpdateSection.CORPORATION_HISTORY %}
        </button>
    </li>

    <li class="nav-item dropdown" role="presentation">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">
            {% translate 'Clones' %}
            {% tab_status_indicator UpdateSection.IMPLANTS UpdateSection.JUMP_CLONES %}
        </a>
        <ul class="dropdown-menu">
            <li>
                <button class="dropdown-item" data-bs-target="#implants" data-bs-toggle="tab" type="button" role="tab" aria-controls="action-tab-pane" aria-selected="false">
                    {% translate 'Implants' %}{% tab_status_indicator UpdateSection.IMPLANTS %}
                </button>
            </li>
            <li>
                <button class="dropdown-item" data-bs-target="#clones" data-bs-toggle="tab" type="button" role="tab" aria-controls="action-tab-pane" aria-selected="false">
                    {% translate 'Jump Clones' %}{% tab_status_indicator UpdateSection.JUMP_CLONES %}
                </button>
            </li>
        </ul>
    </li>

    <li class="nav-item" role="presentation">
        <button class="nav-link" data-bs-target="#fw_stats" aria-controls="fw_stats" role="tab" data-bs-toggle="tab">
            {% translate 'Faction Warfare' %}{% tab_status_indicator UpdateSection.FW_STATS %}
        </button>
    </li>

    <li class="nav-item dropdown" role="presentation">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">
            {% translate 'Industry' %}
            {% tab_status_indicator UpdateSection.MINING_LEDGER UpdateSection.PLANETS %}
        </a>
        <ul class="dropdown-menu">
            <li>
                <button class="dropdown-item" data-bs-target="#mining_ledger" data-bs-toggle="tab" type="button" role="tab" aria-controls="action-tab-pane" aria-selected="false">
                    {% translate 'Mining' %}{% tab_status_indicator UpdateSection.MINING_LEDGER %}
                </button>
            </li>
            <li>
                <button class="dropdown-item" data-bs-target="#planets" data-bs-toggle="tab" type="button" role="tab" aria-controls="action-tab-pane" aria-selected="false">
                    {% translate 'Planets' %}{% tab_status_indicator UpdateSection.PLANETS %}
                </button>
            </li>
        </ul>
    </li>

    <li class="nav-item" role="presentation">
        <button class="nav-link" data-bs-target="#loyalty" aria-controls="loyalty" role="tab" data-bs-toggle="tab">
            {% translate 'Loyalty' %}{% tab_status_indicator UpdateSection.LOYALTY %}
        </button>
    </li>

    <li class="nav-item dropdown" role="presentation">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">
            {% translate 'Standings' %}
            {% tab_status_indicator UpdateSection.CONTACTS UpdateSection.STANDINGS %}
        </a>
        <ul class="dropdown-menu">
            <li>
                <button class="dropdown-item" data-bs-target="#contacts" data-bs-toggle="tab" type="button" role="tab" aria-controls="action-tab-pane" aria-selected="false">
                    {% translate 'Contacts' %}{% tab_status_indicator UpdateSection.CONTACTS %}
                </button>
            </li>
            <li>
                <button class="dropdown-item" data-bs-target="#standings" data-bs-toggle="tab" type="button" role="tab" aria-controls="action-tab-pane" aria-selected="false">
                    {% translate 'NPC Standings' %}{% tab_status_indicator UpdateSection.STANDINGS %}
                </button>
            </li>
        </ul>
    </li>

    <li class="nav-item" role="presentation">
        <button class="nav-link" data-bs-target="#mail" aria-controls="mail" role="tab" data-bs-toggle="tab">
            {% translate 'Mails' %}{% tab_status_indicator UpdateSection.MAILS %}
        </button>
    </li>

    <li class="nav-item dropdown" role="presentation">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">
            {% translate 'Skills' %}
            {% tab_status_indicator UpdateSection.ATTRIBUTES UpdateSection.SKILL_QUEUE UpdateSection.SKILL_SETS UpdateSection.SKILLS %}
        </a>
        <ul class="dropdown-menu">
            <li>
                <button class="dropdown-item"data-bs-target="#attributes" data-bs-toggle="tab" type="button" role="tab" aria-controls="action-tab-pane" aria-selected="false">
                    {% translate 'Attributes' %}{% tab_status_indicator UpdateSection.ATTRIBUTES %}
                </button>
            </li>
            <li>
                <button class="dropdown-item"data-bs-target="#skillqueue" data-bs-toggle="tab" type="button" role="tab" aria-controls="action-tab-pane" aria-selected="false">
                    {% translate 'Skill Queue' %}{% tab_status_indicator UpdateSection.SKILL_QUEUE %}
                </button>
            </li>
            {% if perms.memberaudit.view_skill_sets %}
                <li>
                    <button class="dropdown-item" data-bs-target="#skill_sets" data-bs-toggle="tab" type="button" role="tab" aria-controls="action-tab-pane" aria-selected="false">
                        {% translate 'Skill Sets' %}{% tab_status_indicator UpdateSection.SKILL_SETS %}
                    </button>
                </li>
            {% endif %}
            <li>
                <button class="dropdown-item" data-bs-target="#skills" data-bs-toggle="tab" type="button" role="tab" aria-controls="action-tab-pane" aria-selected="false">
                    {% translate 'Skills' %}{% tab_status_indicator UpdateSection.SKILLS %}
                </button>
            </li>
        </ul>
    </li>

    {% if UpdateSection.ROLES in enabled_sections %}
        <li class="nav-item" role="presentation">
            <button class="nav-link" data-bs-target="#roles" aria-controls="roles" role="tab" data-bs-toggle="tab">
                {% translate 'Roles' %}{% tab_status_indicator UpdateSection.ROLES %}
            </button>
        </li>
    {% endif %}

    <li class="nav-item" role="presentation">
        <button class="nav-link" data-bs-target="#titles" aria-controls="titles" role="tab" data-bs-toggle="tab">
            {% translate 'Titles' %}{% tab_status_indicator UpdateSection.TITLES %}
        </button>
    </li>

    <li class="nav-item dropdown" role="presentation">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">
            {% translate 'Wallet' %}
            {% tab_status_indicator UpdateSection.WALLET_JOURNAL UpdateSection.WALLET_TRANSACTIONS %}
        </a>
        <ul class="dropdown-menu">
            <li>
                <button class="dropdown-item" data-bs-target="#wallet_journal" data-bs-toggle="tab" type="button" role="tab" aria-controls="action-tab-pane" aria-selected="false">
                    {% translate 'Transactions' %}{% tab_status_indicator UpdateSection.WALLET_JOURNAL %}
                </button>
            </li>
            <li>
                <button class="dropdown-item"data-bs-target="#wallet_transactions" data-bs-toggle="tab" type="button" role="tab" aria-controls="action-tab-pane" aria-selected="false">
                    {% translate 'Market Transactions' %}{% tab_status_indicator UpdateSection.WALLET_TRANSACTIONS %}
                </button>
            </li>
        </ul>
    </li>
</ul>
