{% load i18n %}

<div role="tabpanel" class="tab-pane" id="notifications">
    <h3>{% translate 'Notifications' %}</h3>
    <div class="table-responsive">
        <table class="table table-striped table-width-fix" id="tab_notifications">
            <thead>
                <tr>
                    <th>{% translate 'Date' %}</th>
                    <th>{% translate 'Sender' %}</th>
                    <th>{% translate 'Type' %}</th>
                    <th>{% translate 'Read' %}</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
    {% include 'memberaudit/partials/character_viewer/tabs/update_status.html' with update_section=sections_update_status.notifications %}
</div>
