{% extends 'memberaudit/base.html' %}
{% load static %}

{% block details %}

    {% include 'memberaudit/partials/launcher/dashboard.html' %}
    {% include 'memberaudit/partials/launcher/characters.html' %}

{% endblock details %}

{% block extra_javascript %}
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'memberaudit/css/global.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'memberaudit/css/memberaudit.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'memberaudit/css/launcher.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'memberaudit/css/dashboard.min.css' %}">
{% endblock %}

{% block extra_script %}
{% endblock %}
